---
import BaseLayout from "../layouts/BaseLayout.astro";
import Youtube from "../components/Youtube.astro";

import { sanityClient } from "sanity:client";

export const prerender = true;

interface Game {
  name: string;
  slug: { current: string };
  youtube: string;
  text: string;
}

export const getStaticPaths= (async () => {
  const gamesSanity = await sanityClient.fetch(`*[_type == "escapeGames"]`);
  console.log(gamesSanity);
  
  return gamesSanity.map((game: Game) => {
    return {
      params: { slug: game.slug.current },
      props: { game }
    }
  });
}) 

const { slug } = Astro.params ;
const { game }: {game: Game} = Astro.props;

---

<BaseLayout>
  <div class="grid place-items-center">
    <h1
      id=`${slug}`
      class="my-8 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      {game.name}
    </h1>
    <Youtube videoId={game.youtube} /> 
    <p class="dark:text-white p-8 lg:w-1/2" >{game.text}</p>
  </div>
</BaseLayout>
