---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md text-center">
      <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        Message Envoyé !
      </h2>
      <p class="mb-8 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
        Merci de nous avoir contacté. Nous vous répondrons dans les plus brefs délais.
      </p>
      <a href="/" class="py-3 px-5 text-sm font-medium text-white rounded-lg bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Retour à l'accueil
      </a>
    </div>
  </section>
</BaseLayout> 