---
import ExperienceImage from "../components/ExperienceImage.astro";
const { src, alt, slug } = Astro.props;
---

<a href={"/" + slug}>
  <ExperienceImage
    filename={src}
    alt={alt}
    class="w-full h-auto rounded-lg shadow-lg transition-transform transform hover:scale-105"
    loading="lazy"
  />
</a>
