---
import FamilyIcon from "../icons/FamilyIcon.astro";
import TeamLine from "../icons/TeamLine.astro";
import UserFriendsLineAwesome from "../icons/UserFriendsLineAwesome.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Une expérience incroyable à couper le souffle 💨
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Notre catalogue VR avec différents niveaux de difficulté, suivant votre
        expérience de jeux. Vous allez devoir choisir dans quel monde
        virtuel,Partager votre expérience à plusieurs. Vous allez être plongé
        dans des univers impossible à explorer de nos jours. Explorateurs dans
        les pyramides, pompier sur le site de notre Dame ,explorateurs du futur
        Alice au pays des merveilles des hackers, les survivants d’une île , une
        jungle à la Minecraft, des agents du FBI, un Squad militaire, une maison
        de la peur, un sanctuaire des horreurs, et encore d’autres la liste est
        longue ,tout cela vous allez pouvoir le retrouver chez nous suivant le
        thème que vous aurez choisi et partager une aventure incroyable avec vos
        amis, vos enfants, vos collègues de boulot à travers l’réalité
        virtuelle.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <FamilyIcon
            class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">En Famille</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Venez découvrir un monde en réalité virtuelle, venez collaborer
          ensemble pour atteindre la fin de l’aventure
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <UserFriendsLineAwesome
            class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Entre Amis</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Vous allez devoir collaborer, communiquer et allier vos forces
          ensemble pour parvenir à la fin de l’aventure
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <TeamLine
            class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Entreprises</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Nous proposons de vous faire découvrir en équipe, en jeu multijoueurs.
          Mettez votre esprit d’équipe à l'épreuve des mondes virtuels.
        </p>
      </div>
    </div>
  </div>
</section>
