---
import FamilyIcon from "../icons/FamilyIcon.astro";
import TeamLine from "../icons/TeamLine.astro";
import UserFriendsLineAwesome from "../icons/UserFriendsLineAwesome.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Découvrez un Monde de Possibilités!
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Nous avons conçu un espace chaleureux et moderne où chacun peut se
        détendre entre deux sessions de jeu. Profitez de notre coin café pour
        savourer des boissons rafraîchissantes et de delicieuses recette à base
        de Café, tout en partageant vos impressions et vos rires. Notre équipe
        dévouée est toujours à votre disposition pour vous guider et vous
        assurer la meilleure des expérience.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">En Famille</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Moments de Complicité en Famille Rien n'est plus précieux que les
          moments passés en famille. Au VR Café, vous pourrez créer des
          souvenirs inoubliables en partageant des aventures interactives et
          immersives. C'est l'occasion parfaite pour renforcer les liens
          familiaux dans une ambiance ludique et innovante.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Entre Amis</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Rien ne vaut une soirée entre amis pleine d’aventures et de rires. Au
          VR Café, chaque expérience est une nouvelle occasion de créer des
          souvenirs impérissables. Que ce soit pour fêter un anniversaire,
          organiser une sortie entre collègues ou simplement passer un bon
          moment ensemble, nous avons tout ce qu'il faut pour faire de votre
          visite un succès.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Entreprises</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Rien n’est plus efficace pour souder une équipe que des activités
          partagées et des défis communs. Au VR Café, vos collaborateurs
          pourront se découvrir sous un nouveau jour, renforcer leurs liens et
          créer des souvenirs mémorables. Que ce soit pour un team-building, une
          réunion de motivation ou une simple sortie de groupe, chaque visite au
          VR Café est une opportunité de renforcer les liens professionnels.
        </p>
      </div>
    </div>
  </div>
</section>
