---
import Card from "../components/Card.astro";
import type { SanityDocument } from "@sanity/client";
export interface Props {
  games: SanityDocument;
}

const { games } = Astro.props;

---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 container mx-auto">
  {
    games.map((game) => (
      <Card game={game} slug={game.slug.current}  />
    ))
  }
</div>
