---
import Card from "../components/Card.astro";
const { experiences } = Astro.props;
// Interface pour les données spécifiques à l'expérience
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 container mx-auto">
  {experiences.map((exp: any) => <Card game={exp} slug={exp.slug} />)}
</div>
