---
import Card from "../components/Card.astro";

const { games } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 container mx-auto">
  {
    games.map(({ data, slug, body }) => (
      <Card game={data} slug={slug} text={body} />
    ))
  }
</div>
