---
import PricingCard from "./PricingCard.astro";
---

<div class="container mx-auto flex gap-4 justify-center">
  <PricingCard title="1 Heure" price="25" />
  <PricingCard title="30 min" price="18" />
</div>
