---
import PricingText from "./PricingText.astro";

const { title, price } = Astro.props;
const text = [
  "30 min",
  "+ de 20 escapes games",
  " + de 10 jeux VR",
  " + de 10 jeux Free Roaming",
  "Pour tout les gouts de jeu",
  "Pour tout les ages de 7 à 77 ans",
];
const text2 = [
  "1h de jeu effectif",
  "+ de 20 escapes games",
  " + de 10 jeux VR",
  " + de 10 jeux Free Roaming",
  "Pour tout les gouts de jeu",
  "Pour tout les ages de 7 à 77 ans",
];
---

<div
  class="w-full md:w-1/2 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <h2
    class="text-center mb-4 text-5xl font-extrabold tracking-tight text-gray-900 dark:text-white"
  >
    {title}
  </h2>
  <div class="flex flex-col items-baseline text-gray-900 dark:text-white">
    {
      price === "25" ? (
        <div class="flex mb-4 items-baseline">
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">
            à partir de:
          </span>
        </div>
      ) : (
        <div class="flex items-baseline h-12" />
      )
    }
    <div>
      <span class="text-5xl font-extrabold tracking-tight">{price}</span>
      <span class="text-3xl font-semibold">€</span>
      <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">
        /personnes
      </span>
    </div>
  </div>
  <ul role="list" class="space-y-5 my-7">
    {
      price === "25"
        ? text2.map((text: string) => <PricingText text={text} />)
        : text.map((text: string) => <PricingText text={text} />)
    }
  </ul>
  <button
    id="booking"
    type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
    >Réserver</button
  >
</div>

<script>
  const button = document.querySelectorAll("#booking");
  button.forEach((btn) => {
    btn.addEventListener("click", () => (location.href = "/reservation"));
  });
</script>
