---
import PricingCard from "./PricingCard.astro";
---

<div
  class="md:container mx-4 md:mx-auto flex flex-col md:flex-row gap-4 md:justify-center"
>
  <PricingCard title="1 Heure" price="25" />
  <PricingCard title="30 min" price="18" />
</div>
