---
//components
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "./BaseHead.astro";
---

<html lang="fr" class="smooth scroll-smooth pt-16 dark">
  <BaseHead />
  <body class="dark:bg-gray-800">
    <NavBar />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
    <style>
      :root {
        --navHeight: 8rem;
      }
      html {
        scroll-padding-top: var(--navHeight);
      }
    </style>
  </body>
</html>
