---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.

//components
import Title from "../components/Title.astro";
import GameList from "../components/GameList.astro";

const { games } = Astro.props;
---

<Title title="Escape Games VR" />
<ul class="flex gap-8 text-white justify-center mb-8 text-2xl">
  <a
    href="/escapes"
    type="button"
    class="rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    ><li>TOUT</li></a
  >
  <a
    href="/escapes/arvi"
    type="button"
    class="rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    ><li>ARVI VR</li></a
  >
  <a
    href="/escapes/ubisoft"
    type="button"
    class="rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    ><li>UBISOFT</li></a
  >
</ul>
<GameList games={games} />
